<div class="container">
<fieldset class="form-group">
  <div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Type of Feedback</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (click)= "showForm()">
        <label class="form-check-label" for="gridRadios1">
          Comments
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" (click)= "showForm()">
        <label class="form-check-label" for="gridRadios2">
          Bug Report
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" (click)= "showForm()">
        <label class="form-check-label" for="gridRadios3">
          Questions
        </label>
      </div>
    </div>
  </div>
</fieldset>
</div>
<router-outlet></router-outlet>